html {
  --main-color: #333333;
  --holiday-color: #bd4848;
  font-family: Roboto;
  font-size: 62.5%;
  background-color: white;
  /*background: linear-gradient(*/
  /*  18deg,*/
  /*  rgba(176, 216, 217, 1) 0%,*/
  /*  rgba(255, 174, 0, 1) 100%*/
  /*);*/
}

.month__header {
  display: block;
  margin-bottom: 1rem;
  font-size: 4rem;
}

.container {
  margin-top: 11rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 5rem;
  height: 160rem;
  width: 120rem;
}

.month-image {
  z-index: -1;
  object-fit: cover;
  position: absolute;
  right: 2rem;
  top: -11rem;
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}

.month::before{
  position: absolute;
  content: '';
  right: 1.9rem;
  top: -11.1rem;
  width: 18.3rem;
  height: 18.3rem;
  border-radius: 50%;
  box-shadow:inset 0 0 2rem 2rem rgba(255,255,255,1);
  z-index: 1;
}

.january-image {
  background-size: 100%;
  background-image: url("jan.jpg");
  background-position-x: -17rem;
  background-position-y: -96rem;
}


.month {
  position: relative;
  height: 100%;
  z-index: 10;
}

.month__data,
.month__data--holiday {
  font-size: 2rem;
}

.month__data--holiday,
.week__day--holiday {
  color: var(--holiday-color);
}

.week__day,
.week__day--holiday {
  z-index: 100;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.month__grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-row-gap: 1rem;
}
